<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../public/styles.css">
    <title>Employee Management</title>
</head>

<body>
    <h2>Edit-Details</h2>
    <div class="create-blog content">
        <form action="/employee" method="POST">
            <label for="name">name:</label>
            <input type="text" value="" id="name" name="name" required>
            <label for="email">surname:</label>
            <input type="text" value="" id="surname" name="surname" required>
            <label for="password">department:</label>
            <input type="text" value="" name="department" id="department">
            <button type="submit">Update</button>
        </form>
    </div>

</body>

</html>